<div class="mb-3 row">
  <div class="col-4">
    <div *ngIf="menu=='3'" class="count ">{{ 'Số lần OCR : ' + countOCR }}</div>
  </div>
  <div class="col-8">
    <div style="float: right">
      <button *ngIf="menu!='3'">Thêm</button>
      <ng-container *ngIf="menu=='3'">
        <!-- <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" hidden> -->
        <input type="file" #fileInput (change)="onFileMultiSelected($event)" accept="image/*" hidden multiple>

        <div class="button-group">
          <div *ngIf="loading" class="loading-text">{{ loading ? 'Đang quét ' + progress + '%' : 'Chọn ảnh kết quả' }}
          </div>
          <input type="text" class="paste-input ms-2" placeholder="Click vào đây rồi nhấn Ctrl+V để dán ảnh"
            (paste)="onPaste($event)" [readonly]="loading" />
          <button (click)="fileInput.click()" [disabled]="loading" class="btn-primary ms-2">
            Chọn ảnh OCR
          </button>
          <button (click)="reset()" class="btn-reset">
            Reset
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div class="content-layout">
  <ng-container [ngSwitch]="menu">
    <ng-container *ngSwitchCase="'1'">
      <ng-container [ngTemplateOutlet]="viewMenu1"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'2'">
      <ng-container [ngTemplateOutlet]="viewMenu2"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'3'">
      <ng-container [ngTemplateOutlet]="viewMenu3"></ng-container>
    </ng-container>
  </ng-container>

  <ng-template #viewMenu1>
    <p>Menu 1</p>
  </ng-template>

  <ng-template #viewMenu2>
    <p>Menu 2</p>
  </ng-template>

  <ng-template #viewMenu3>
    <div class="d-flex">

    </div>
    <div class="grid-container">
      <div *ngFor="let num of arrNumCurrent; let i = index">
        <div class="num {{num.isExited ? 'exited' : 'not-exited'}}" (click)="clickNum(i)">
          <span class="css-num">{{num?.value}}</span>
        </div>
      </div>
    </div>

  </ng-template>


</div>