/* You can add global styles to this file, and also import other style files */
/* css .carousel-*/
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-notifications/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-grids/styles/material.css';

.slick-prev:before,
.slick-next:before {
  color: black !important;
}

.img-style {
  margin-left: auto;
  margin-left: auto;
  height: 250;
  width: 250;
}
@media (max-width: 992) {
  .img-style {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
}

