.notification-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
  }
  
  .notification-success {
    background-color: #c2f0b6;
    color: rgb(56, 112, 10);
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 250px;
  }

  .notification-waiting {
    background-color: #ece8af;
    color: rgb(182, 128, 13);
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 250px;
  }

  .notification-error {
    background-color: #eec0be;
    color: rgb(238, 43, 8);
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 250px;
  }
  
  .notification .close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
  }

  